
body {
    font-family: Consolas, monaco, monospace;
    font-size:18px;
    margin: 20px;
}

.container {
    margin: auto;
    width: 650px;
}

.container-upload {
    border: solid;
    margin: 5px;
    padding: 5px;
    border-width: 2px;
}

@media (max-width: 767px) {
    .container {
      width:100%;
    }
}

hr {
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

#pred {
    height: 35px;
}

.hidden {
    visibility: hidden
}

::-webkit-file-upload-button {
    background-color:black;
    color:white;
    font-size:16px;
    font-family: Consolas, monaco, monospace;
    width:200px;
    height:32px;
    border-style:solid;
    border-color:black;
}

#fileupload {
    width: 400px;
    font-family: Consolas, monaco, monospace;
}

.container-profile {
    padding-top:150px;
}

.container-pred {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.img-profile {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.btn {
    background-color:black;
    color:white;
    font-size:16px;
    font-family: Consolas, monaco, monospace;
    height:32px;
    border-style:solid;
    border-color:black;
}

.btn-predict {
    width:200px;
}

.img-example {
    width:200px;
}

.img-thumbnail {
    width: 300px; 
    height: 300px;
}

.txt-note {
    text-align:center;
    font-size:12px;
}
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#txt-content {
  padding:2em;
  display:none;
}