<!DOCTYPE html>
<html> 
    <head>
        <title> Chung Kim </title>
    	<script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
		<script type="text/javascript" src="/static/js/jquery.fileupload-process.js"></script>
		<script type="text/javascript" src="/static/js/jquery.fileupload-ui.js"></script>	
        <script type="text/javascript" src="/static/js/custom.js"></script>

        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class = 'container'>
        	<div class = "container-classifier">
	          	<h2> <b>People On Stage Classifier</b>: Are they 2020 presidential hopefuls or stand-up comedians?</h1>
	         

                <div class='container-upload'>
    				<span> Upload your image to find out. 
                    <u id="slide-down"> What is an appropriate image? </u> </span>
                        <div id="txt-content"> 
                            <span> A good picture is a single person on stage. </span>
                            <div class='row'>
                                <div class='column'>
                                    <img class = "img-example" src="/static/img/example_good.jpg">
                                    <p> this is a good image </p>
                                </div>
                                <div class='column'>
                                    <img class = "img-example" src="/static/img/example_bad.jpg">
                                    <p> this is a bad image </p>
                                </div>
                            </div>
                            <span> This model was trained to predict only one of the two categories, politician or comedian. If you upload a photo that is neither, the model will still try to make the best guess, but it would be nonsense!</span>
                        </div>
    				<div>
                        <input type="file" id="fileupload" name="file" multiple></input>
    				</div>
                </div>

				<div class='hidden container-pred' id = 'container-pred'>
                    <div>
                        <img id="imgUpload" class="img-thumbnail">
                        <input type="hidden" name="filePath" id="filePath"></input>
                    </div>
                    <div>
                    	<button type="submit" id = 'predict' class="btn btn-predict">Predict</button>
                    </div>
                    <h2 id='pred'>' '</h2>
                </div>

				<p class='txt-note'> Built using <u><a href="https://fast.ai">fast.ai</a></u>, trained on ~200 google images of past and current presidential candidates and comedians. I like checking out the DC standup comedy scene, and the numerous Dem presidential debates of 2019 got me thinking: what is the difference between a politican and a comedian as an orator, visually? This fictitious, however, may be recognizing specific faces--more work to be done </p>
			</div>

            <hr> 

            <div class='container-profile txt-profile'>

    			<div>
                    <img class = 'img-profile' src="static/img/profile_pic.jpg" />
                </div>

    			<p>Hi! I’m Chung and I’m a data scientist hopeful living in Washington, DC. </p>

    			<p>I like to bike everywhere, practice yoga ~daily, draw and bake often. Check out our bike blog <u>here</u>! </p>

    			<p>My more technical interests include: programming in Python and R, machine learning and in particular learning about deep neural nets. </p>

    			<p> 🥬 connect! Email: chungkim271@gmail.com </p> <br>

            </div>

            <p class='txt-note'> built with Flask </p>


      </div>
    </body>
</html>